.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color-dark;
}

.footer {
  .container {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  .logo-studio {
    color: $footer-logo-color;
  }
}

.footer__contacts-adress {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-text-color;
}

.footer__contacts-item {
  margin-top: 9px;
}

.footer__link {
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $footer-contacts;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.footer__join-us {
  margin-left: 70px;
}

.footer__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.footer__socials {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer {
  .socials-container {
    padding: 0;
    background-color: $footer-socials-background;
    color: $icon-accent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $color-accent;
    }
  }
}

.footer__subscription {
  margin-left: 93px;
}

.footer__subscription-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.footer__subscription-title {
  display: block;
}

.footer__subscription-container {
  margin-top: 20px;
  display: flex;
}

.footer__subscription-input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid $subscription-border;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: $secondary-text-color;
  outline: transparent;
}

.footer__subscription-input {
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $subscription-placeholder;
  }
}

.footer__subscription-btn {
  margin-left: 12px;
}

.footer__subscription-btn-icon {
  margin-left: 10px;
}
